<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./../assets/style.css">
</head>
<body>
    <h1>{{ pageTitle }}</h1>
    <p>Your score: {{ score }}</p>

    <h2>{{ subTitle }}</h2>
    <input type="text" id="example">
    <button id="btn">Click!</button>

    <p id="text"></p>

    <a href="/portfolio">Show me your portfolio</a>

    <script src="./../js/functions.js"></script>
</body>
</html>